:root{
  --ahh: linear-gradient(90deg,#7fb6be,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent);
}
body{
  background: linear-gradient(135deg, #0a0a0a 20%, #111111 50%, #0c0c0c 100%);
  padding: 5px;
  font-family: Arial,Sans-Serif;
}
h1{
  text-align: center;
  color: cyan;
  text-shadow: 0 2px 6px #c8f7c5;
  padding-bottom: 5px;
}
.content{
  padding: 5px;
  border-radius: 10px 10px;
}
.imageBox{
  border: 1px solid #2d2d2d;
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  border-radius: 10px 10px;
  margin-bottom: 15px;
  transition: 1.4s;
  background: var(--ahh);
}
.imageBox:hover {
  border-color: #404040;
  box-shadow: 
    0 15px 50px rgba(0, 0, 0, 0.6),
    0 0 0 1px rgba(45, 140, 255, 0.1);
    opacity: 0.2s;
    background-position-x: -322px;
}
.loading{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid black;
  border-left-color: white;
  animation: spinner 1s ease infinite;
  margin-left: 5%;
  margin-bottom: 10px;
}
.content-intro{
  padding: 10px;
  border-radius: 20px 20px;
  background: linear-gradient(90deg,#20292b,#486971,#392c3a );
  color: white;
  max-width: 70%;
  align-self: flex-start;
  font-weight: bold;
  word-break: break-word;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 1.6s;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text{
  padding: 10px;
  border-radius: 20px 20px;
  background: linear-gradient(90deg,#20292b,#486971,#392c3a );
  color: red;
  max-width: 50%;
  align-self: flex-start;
  font-weight: bold;
  word-break: break-word;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 1.6s;
  margin-top: 10px;
  margin-bottom: 10px;
}
.text:hover{
  background-position-x: -519px;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.suggestions {
  display: flex;
  gap: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.suggest-btn{
  font-family: Monospace, Sans-Serif;
  filter: brightness(100%);
  font-size: 12px;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 20px 20px;
  border: 1px solid #444;
  box-shadow: 0px 2px 6px #20292b;
  text-transform: uppercase;
  transition: all 1s ease;
  width: 60%;
  background: linear-gradient(60deg,#71d4c8,#044a42ba,#0f1010ba,#1f3030ba);
  letter-spacing: 2px;
}
.suggest-btn:hover{
  color: white;
  background-position-x: -180px;
}
.input {
  position: relative;
  display: flex;
  align-items: center;
}
.input-image{
  padding: 15px;
  border-radius: 25px 25px;
  border: 1px solid #444;
  width: 100%;
  padding-right: 50px;
  outline: none;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: Monospace,Sans-Serif;
  background: linear-gradient(90deg,#3e8d8dba,#202a2aba,#1f7272ba);
  box-shadow: 0 2px 6px #0a4747ba;
}
.input-image::placeholder{
  color: black;
  letter-spacing: 0;
  font-weight: 200;
}
.btn-image{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  border: 1px solid #666;
  position: absolute;
  left: 85%;
  box-shadow: 0 2px 6px #1b6c6cba;
}
.btn-image:hover{
  background: linear-gradient(90deg,#14ebebba);
}
.img-content-bot{
  max-width: 70%;
  border: 1.5px solid #888;
  align-self: flex-start;
  overflow: hidden;
  border-radius: 10px 10px;
  position: relative;
  height: 250px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img-content-user{
  max-width: 60%;
  align-self: flex-end;
  margin-left: auto;
  word-break: break-word;
  border: 1px solid cyan;
  border-radius: 20px 20px;
  padding: 10px;
  border: 1px solid #555;
  color: white;
  background: linear-gradient(90deg,#0b3131ba,#167070ba);
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.8s ease;
  letter-spacing: 2px;
}
.img-content-user:hover{
  background-position-x: -600px;
}
.img{
  width: 100%;
  height: 250px;
  background: cyan;
  border: none;
  position: center;
  object-fit: cover;
}
.img[src=""],.img:not([src]) {
  background: linear-gradient(90deg,#315454ba,#138181ba );
}
.imageFooter{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-footer{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  transition: all 1s ease;
  backdrop-filter: blur(3px);
  background: transparent;
  padding-bottom: 5px;
  bottom: -60%;
  transition: bottom 1s ease;
}
.img-content-bot:hover .info-footer{
  bottom: 0;
}
.download{
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg,#1d9292ba,#085454ba);
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  border: 1px solid #999;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 2px;
  text-decoration: none;
}
.voir {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg,#567e31ba);
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
  border: 1px solid #999;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
}
.info-footer h4{
  margin-left: 8px;
  color: white;
  margin-bottom: 0;
  font-family: Georgia;
}